.pp{
    color: #b82532;
    text-decoration: none;
    margin: 15px;
    transition: .4s ease;
}

.pp:hover{
    color: #df7c20;
}

.agregado{
    padding-bottom: 10px;
    font-size: 25px;
    color:#df7c20 ;
}
