
.header{
    display: flex;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  
  .nav-items{
    display: flex;
    align-items: center;
    font-size: 23px;
    font-family: 'Architects Daughter', cursive;
    margin-right: 80px;
  }
  
  .nav-link{
    text-decoration: none;
    color: white;
    margin: 15px;
    transition: .4s ease;
  }
  
  .nav-link:hover{
    color: #b82532;
  }
  
  .rocket{
    height: 170px;
    width: 170px;
  }
  
  .logo{
    margin-left: 80px;
  }
