.cart-container{
    display: flex;
    border-bottom: 1.5px solid rgb(37, 33, 33);
    max-width: 600px;
    margin-top: 1rem;
    margin-bottom: 2.5px;
    margin-left: auto;
    margin-right: auto;
}

.cart-container img{
    width: 80px;
    height: 140px;
    margin-right: 1rem;
}

.product-cart{
    font-size: 20px;
}

.eliminar{
    border: none;
    outline: none;
    width: 60px;
    height: 30px;
    margin-bottom: 7px;
    background-color: #b82532;
    border-radius: 3px;
    transition: .4s ease;
}

.eliminar:hover{
    background-color: rgb(211, 93, 14);
}