.product-boxx{
    position: relative;
    background-color: #0f0f0e;
    color: white;
    border-radius: 3px;
    display: grid;
  }
  
  .product-boxx:hover{
    padding: 10px;
    transition: .3s ease;
  }